/* line 5, /vagrant/app/assets/stylesheets/seatmaps.scss */
div.seat_row div.seat {
  width: 20px;
  height: 20px;
  float: left;
  display: inline;
  background: #3bff66;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* line 16, /vagrant/app/assets/stylesheets/seatmaps.scss */
div.seat_row div.selected {
  background: #ff4545;
}

/* line 20, /vagrant/app/assets/stylesheets/seatmaps.scss */
div.seat_row div.hover {
  background: #00b2ff;
}

/* line 24, /vagrant/app/assets/stylesheets/seatmaps.scss */
div.seat_row {
  margin-bottom: 5px;
}
