<p>
  <strong>Name:</strong>
  <%= @seatmap.name %>
</p>
<canvas id="smCanvas" width="600" height="300"></canvas>
<%= link_to 'Edit', edit_seatmap_path(@seatmap) %>
<%= link_to 'Back', seatmaps_path %>
