<hr>
<div class="pad-section">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-3">
			<h3>Länkar</h3>
			<%= link_to 'Nyheter', articles_path %><br />
			<%= link_to 'Event', events_path %><br />
			<%= link_to 'Om oss', '/about' %>
		</div>
		<div class="col-xs-3" data-no-turbolinks>
			<h3>Om hemsidan</h3>
			<%= link_to 'Cookies', '/cookies', :class => 'footer-link' %>
		</div>
	</div>
</div>
