<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(<%= asset_path 'bgs/4.jpg' %>) no-repeat center center fixed"></div>

<div class="pad-section">
  <h1 class="text-center">Sammarbeten</h1><br>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 text-center">
      <% Sponsor.all.each do |sponsor| %>
        <%= image_tag sponsor.logo, :class => "sponsor-image" %>
      <% end %>
    </div>
  </div>
</div>