<div class="pad-div", style="background: url(<%= asset_path 'bg.jpg' %>) no-repeat center center fixed">
  <div class="text-vcenter">
    <h1>New Game</h1>
  </div>
</div>

<div id="about" class="pad-section">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet.</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum metus et ligula venenatis, at rhoncus nisi molestie. Pellentesque porttitor elit suscipit massa laoreet metus.</p>
    </div>
  </div>
</div>
