<div class="pad-div", style="background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)),url(<%= asset_path 'bgs/8.jpg' %>) no-repeat center center fixed">
  <div class="text-vcenter">
    <%= image_tag("NG_logo_text.png", :class=>"img-responsive center-block main-image") %>
  </div>
</div>

<div id="about" class="pad-section">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h2>New Game</h2>
      <p class="lead">Med visionen “Alla skall ha en möjlighet att uttrycka sin spelhobby” arrangerar vi öppna regelbundna evenemang för alla åldrar, allt från LAN till spelträffar i Göteborg. Vi brinner för att alla skall ha en möjlighet att uttrycka sin spelhobby, oberoende vilken livssituation man är i. Med arrangemang som involverar bräd-, kort-, dator- och konsolspel, förändrar vi spelkulturen och gör den tillgänglig för alla. 
			</p>
    </div>
  </div>
</div>
