<%= content_for :title do "Föreningen" end %>

<!--
        OM OSS
-->

<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(<%= asset_path 'bgs/1.jpg' %>) no-repeat center center fixed">
  <div class="text-vcenter header">
    <h1>Föreningen</h1>
  </div>
</div>

<div class="pad-section title">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <a class="anchor" id="about"></a>
        <h1>Om oss</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Vad vi gör</h2>
      <p>
        År 2012 grundades Delta Gamers av fem engagerade killar med ambitionen att skapa en förening för personer med intresset för datorer och datorspel.
        Föreningen bytte sedan namn till New Game i början av 2015.
        <br />
        Varje fredag träffas vi  på våra Fredagsträffar, vilka har ett förbestämt spel som tema vid varje tillfälle. Vi spelar spel, umgås och äter gott. Det kan vara allt från Munchkin till Mario Kart.
        <br /><br />
        De större spelarrangemangen vi arrangerar planeras och genomförs med mycket liv och kärlek utav vår Evenemangsdivison. De planerar alla sorters spelarrangemang, allt från mindre LAN (SmåLANd) till större (WonderLANd). Dessa evenemang går att hitta på vår <a href="https://www.facebook.com/newgamesverige/?fref=ts">facebooksida</a> eller här på hemsidan, båda uppderas ständigt med allt nytt som händer i föreningen. Kom gärna och besök oss på någon utav våra spelträffar eller LAN.
        <br /><br />
        Stadsbiblioteket, Lindholmen Science Park, Göteborg och Company, Confusion, Arena 29, Fängelset och Västspel är exempel på organisationer som vi samarbetar med.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-lg-4">
      <h2>Visionen</h2>
      <p>
        Med visionen “Alla skall ha en möjlighet att uttrycka sin spelhobby” arrangerar vi öppna regelbundna evenemang för alla åldrar, allt från LAN till spelträffar i Göteborg. Vi brinner för att alla skall ha en möjlighet att uttrycka sin spelhobby, oberoende vilken livssituation man är i. Med arrangemang som involverar bräd-, kort-, dator- och konsolspel, förändrar vi spelkulturen och gör den tillgänglig för alla.
      </p>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0">
      <h2>Divisioner</h2>
      <p>
        Föreningen är uppdelad i divisioner, som med hjälp av New Game bedriver egen verksamhet. En division kan vara ett kompisgäng som vill samlas, det kan vara ett sätt att samlas kring ett gemensamt spel eller helt enkelt ett e-sportslag. Som Division får du det stödet du behöver från New Game för att kunna bedriva din egna verksamhet.
      </p>
    </div>
  </div>
</div>

<!--
        STYRELSEN
-->

<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(<%= asset_path 'bgs/2.jpg' %>) no-repeat center center fixed"></div>

<div class="pad-section title">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <a class="anchor" id="styrelsen"></a>
        <h1>Kontakta oss</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
      <h2>Email: <a href="mailto:info@newgame.se">info@newgame.se</a></h2>
    </div>
  </div>
</div>

<!--
      MEDLEMSKAP
-->

<div class="pad-div", style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(<%= asset_path 'bgs/3.jpg' %>) no-repeat center center fixed"></div>

<div class="pad-section title">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-center">
        <a class="anchor" id="member"></a>
        <h1>Medlemskap</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-lg-4">
      <h2>Medlemskap</h2>
      <p>
        Ett medlemskap hos New Game gör dig jämlik med samtliga New Game:are. Du får möjligheten att förändra föreningen och kan på eget initiativ arrangera egna New Game-aktiviteter. Medlemsskapet gäller fram till nästa årsmöte och kostar 100 kronor.
      </p>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-0">
      <h2>Varför bli medlem?</h2>
      <p>
        Som medlem i föreningen öppnas helt nya dörrar. Du kan skapa en Divison, ta del av rabatter på våra arrangemang, vara med och arrangera spelträffar och mycket mer.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Hur man blir medlem</h2>
      <p>
        Ditt medlemskap möjliggör att föreningen kan fortsätta arrangera spelträffar och leva vidare. Vi tycker det är viktigt att du som återkommer till föreningens träffar blir medlem och, för ditt eget intresse, engagerar dig. Du kan välja att betala medlemskapet på någon utav våra träffar eller online med hjälp utav Swish eller kortbetalning.
      </p>
    </div>
  </div>
</div>
