<%= content_for :title do "Cookies" end %> 

<div class="pad-div", style="background: url(<%= asset_path 'bg.jpg' %>) no-repeat center center fixed"></div>

<div class="pad-section title">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3">
      <div class="text-vcenter">
        <h1>Cookies</h1>
      </div>
    </div>
  </div>
</div>
<div class="pad-section">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Lagen om cookies</h2>
      <p>
				newgame.se använder cookies för att generera besöksstatistik och spara sessioner. En cookie är en liten textfil som den besökta webbplatsen sparar på användarens dator. Informationen i filen används till exempel för att underlätta användning av webbplatsen.
				<br />
        <br />
				Den som inte vill acceptera cookies kan ställa in sin webbläsare så att den automatiskt nekar till lagring av cookies eller informerar användaren varje gång en webbplats begär att få lagra en cookie. Genom funktioner i webbläsaren kan vanligtvis också tidigare lagrade cookies raderas.
      </p>
    </div>
  </div>
</div>