<div class="container">
	<h1>Min profil</h1>
	<div class="row">
		<div class="col 3"><%= image_tag current_user.gravatar_url(:size => 120) %></div>
		<div class="col 4 offset 3">
			<div class="row"><div class="col 4"><h5><%= current_user.username %></h5></div></div>
			<div class="row"><div class="col 4"><h5><%= current_user.email %></h5></div></div>
		</div>
		
	</div>
</div>

<p>Member since: <%= distance_of_time_in_words(Time.now, current_user.created_at) %></p>

