<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<% @tickets.each do |ticket| %>
  <%= render ticket %>
<% end %>

<br>

<% if current_user.admin? %>
  <%= link_to 'New Ticket', new_ticket_path %>
<% end %>
