<h1>Listing Tickets</h1>

<% if user_signed_in? %>
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
  <% end %>
<% end %>

<br>

<% if current_user.admin? %>
  <%= link_to 'New Ticket', new_ticket_path %>
<% end %>
