$brand-primary: #7d26cd;
$navbar-default-link-color: #7d26cd;
$navbar-default-link-hover-color: #a27dc3;
$navbar-default-link-active-color: #7d26cd;
$navbar-default-link-active-bg: #d0b6e8;

$body-bg: #fff;
$text-color: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}
.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}

.pad-div {
  display: table;
  height: 60em;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.create-content {
  padding-top: 70px;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

.form-user { max-width: 600px; padding: 15px;
  margin: 0 auto;
}

.form-user input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-user .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.btn-remove {
  margin-left: 10px;
  margin-top: 27px;
}

.vcenter {
  line-height: 50px;
}

.avatar {
  background-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

p {
  font-size: 1.5em;
  color: $gray;
}

.alert {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 7000;
  text-align: center;
}

.title {
  padding: 20px 10px;
  color: $gray-lighter;
  background-color: $brand-primary;
}
