@import "bootstrap-sprockets";
@import "bootstrap";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  div ul li img{
  	margin-right: 10px;
  }

  div ul li a{
    height: 100%;
    width: 100%;

    text-align: center;
  }
