// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sponsor-image {
  max-height: 150px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.main-image {
	padding: 4em;
  //-webkit-box-shadow:0 0 40px rgba(255,255,255,128);
  //box-shadow:0 0 40px rgba(0,0,0,0.8);
  //background: rgba(255,255,255,0.8);
  //border-radius: 2em;
  //-moz-border-radius: 2em;
}
