// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application';

.pad-div {
  height: 30em;
}

.row {
  margin-bottom: 1em;
}

.img {
  padding: 10px, 10px;
}

a.anchor {
  display: block;
  position: relative;
  top: -200px;
}

.header {
	color: $brand-primary;
	font-size: 1.25em;
}

.profile-table td,
.profile-table th
{
  text-align: right;
  color: $gray-light;
  font-size: 1.5em;
  font-weight: 300;
}

.profile-table td + td,
.profile-table th + th
{
	padding-left: 20px;
  text-align: left;
  color: $gray;
  font-weight: 800;
}
