// Place all the styles related to the seatmaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.seat_row div.seat {
    width: 20px;
    height: 20px;
    float: left;
    display: inline;
    background: #3bff66;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

div.seat_row div.selected {
    background: #ff4545;
}

div.seat_row div.hover {
    background: #00b2ff
}

div.seat_row{
    margin-bottom: 5px;
}
