// Place all the styles related to the seatmaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.seat_row div.seat {
    width: 20px;
    height: 20px;
    float: left;
    display: inline;
    background: #0f0;
    margin-right: 5px;
}

div.seat_row{
    margin-bottom: 5px;
}
